/**
 * jQuery Timed Dialog Plugin stylesheet
 * Author: Armino Popp, <devel@boioiong.com>
 */
.timed-dialog-overlay {
  background-color: rgba(155, 155, 155, 0.8); }

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
  padding: 0; }

.timed-dialog {
  font-size: 16px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column; }
  .timed-dialog * {
    font-size: 16px;
    font-family: sans-serif; }
  .timed-dialog .header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #1055aa;
    color: white;
    line-height: 1.2rem;
    padding: 5px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
    .timed-dialog .header .icon {
      display: flex;
      font-weight: bold;
      padding: 0;
      align-content: center;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      background-color: white;
      color: #1055aa;
      border-radius: 100%; }
    .timed-dialog .header .title {
      font-size: 1.2rem;
      padding: 0 10px; }
  .timed-dialog .body {
    min-height: 100px;
    flex-direction: column; }
  .timed-dialog .action {
    flex-direction: row; }
  .timed-dialog .action,
  .timed-dialog .body {
    display: flex;
    background-color: #fff;
    padding: 10px; }
  .timed-dialog .btn {
    width: 100%;
    border: 0;
    padding: 10px;
    line-height: 16px;
    color: white;
    background-color: #555;
    margin-right: 10px; }
    .timed-dialog .btn:last-child {
      margin-right: 0; }
    .timed-dialog .btn.btn-primary {
      background-color: #1055aa !important; }
      .timed-dialog .btn.btn-primary:hover {
        background-color: #3486ec !important; }
    .timed-dialog .btn span.text {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 10; }
    .timed-dialog .btn span.meter {
      position: absolute;
      z-index: 9;
      left: 0;
      top: 0;
      height: 100%;
      background-color: rgba(52, 134, 236, 0.7); }
      .timed-dialog .btn span.meter.hover {
        background-color: rgba(7, 38, 77, 0.7) !important; }
    .timed-dialog .btn.btn-close {
      display: flex;
      margin: 0;
      padding: 0;
      align-content: center;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      background-color: transparent;
      color: white;
      border: 2px solid white;
      border-radius: 100%; }
      .timed-dialog .btn.btn-close:hover {
        background-color: rgba(52, 134, 236, 0.7) !important; }
    .timed-dialog .btn:hover {
      background-color: #aaa;
      color: white; }
