.timed-dialog-overlay {
    background-color: rgba(155,155,155,0.8);
}

$dialog-bg-color: #fff;
$header-bg-color: #1055aa;
$default-padding: 10px;


button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  padding:0;
}

.timed-dialog {
    font-size: 16px;
    padding: 0;
    margin: 0;
    display:flex;
    flex-direction: column;
    & * {
        font-size: 16px;
        font-family: sans-serif;
    }
    .header {
        background-color: $header-bg-color;
        color: white;
        line-height: 1.2rem;
        padding: 5px 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        .title {
            font-size: 1.2rem;
            padding: 0 10px;
        }
    }

    .body {
        min-height: 100px;
    }


    .action {

    }

    .action,
    .body {
        display:flex;
        flex-direction: column;
        background-color: $dialog-bg-color;
        padding: $default-padding;
    }

    .btn {
        width: 100%;
        border:0;
        padding:10px;
        line-height: 16px;
        color:white;
        background-color: #555;
        &.btn-primary {
            background-color: $header-bg-color !important;
            &:hover {
                background-color: $header-bg-color !important;
            }
        }
        &:hover {
            background-color: #aaa;
            color: white;
        }
    }
}
