@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700&display=swap');
@import "../dist/timed-dialog.min.css";

body {
    font-family: 'Noto Serif', serif;
    padding-left: 2em;
    padding-right: 2em;
}

.container {
    display:flex;
    flex-direction: column;
}

.red {
    color: white;
    background-color: rgba(180, 20, 20, .8);
    border: 2px solid rgb(180,20,20);
    padding:20px;
    margin-bottom:20px;
}

div.footer {
    padding:20px 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  padding:10px;
  margin-top:10px;
}
